@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 33px 0 38px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %aeroport-500;
  }
  &__cabinet{
    @extend %btn-s;
  }
}
.menu{
  &__list{
    display: flex;
    justify-content: space-between;  
  }
  &__item{
    font-size: 14px;
    line-height: 19px;
    color: #000;
  }
  &__item + .menu__item{
    margin-left: 32px;
  }
}
.footer{
  padding: 100px 0 146px; 
  background-color: #000;
  color: #fff;
}
.footer-top{
  padding: 0 160px 83px 0;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  &__social{
    margin-right: 130px;
  }
  &__social-box{
    display: flex;
  }
  &__social-link + .footer-top__social-link{
    margin-left: 32px;
  }
  &__courses-title{
    font-size: 18px;
    line-height: 25px;
    @extend %aeroport-700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__courses-item + .footer-top__courses-item{
    margin-top: 12px;
  }
  &__links{
    margin-top: 45px;
  }
  &__links-item{
    font-size: 16px;
    line-height: 22px;
    display: block;
    & + .footer-top__links-item{
      margin-top: 15px;
    }
  }
}
.scroll-up{
  position: relative;
  span{
    position: absolute;
    width: 64px;
    height: 64px;
    background-color: $accent;
    border-radius: 50%;
    top: -132px;
    right: 64px;
    background-image: url('../images/icons/arrow-up.svg');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
  }
}
.footer-logo__img{
  margin-bottom: 60px;
}
.footer-bottom{
  padding: 37px 110px 0 0;
  display: flex;
  justify-content: space-between;
  &__text{
    font-size: 16px;
    line-height: 22px;
    color: #8D8D8D;
  }
}
.top-slider{
  padding-bottom: 70px;
  &__content{
    padding: 110px 70px;
  }
  &__content--trading{
    padding: 83px 85px;
    background-image: url('../images/bg/miner.png');
    background-repeat: no-repeat;
    background-position: 87% 42%;
  }
  &__content--person{
    padding: 150px 95px;
  }
  &__content--story{
    padding: 70px 70px 10px;
  }
  &__item{ 
    background-color: $bg;
    border-radius: 48px;
  }
  &__item--school{
    background-image: url('../images/bg/school-bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  &__item--trading{
    background-image: url('../images/bg/star.png');
    background-color: $accent;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 102% 50%;
  }
  &__item--person{
    background-image: url('../images/bg/person.png');
    background-repeat: no-repeat;
    background-position: 80% 100%;
  }
  &__item--story{
    background-image: url('../images/bg/story.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
  &__title{
    max-width: 445px;
    margin-bottom: 24px;
  }
  &__title--trading{
    max-width: 525px;
    margin-bottom: 24px;
  }
  &__title--person{
    margin-bottom: 24px;
  }
  &__title--story{
    max-width: 880px;
    margin-bottom: 24px;
  }
  &__text{
    font-size: 22px;
    line-height: 30px;
    color: #000;
    margin-bottom: 58px;
    max-width: 590px;
  }
  &__btn--trading{
    @extend %btn-m-black;
  }
  &__btn{
    @extend %btn-m;
  }
  
  &__subtitle{
    text-transform: uppercase;
    font-size: 16px;
    @extend %aeroport-700;
    margin-bottom: 8px;
    color: #000;
    display: block;
  }
  &__subtitle--story{
    color: $default;
  }
  &__link{
    color: #000;
    display: block;
    margin-top: 20px;
    font-size: 16px;
    position: relative;
    @extend %aeroport-500;
    padding-left: 30px;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-down.svg');
      background-repeat: no-repeat;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
    }
  }
  .slick-next,
  .slick-prev{
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $bg;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    top: 50%;
    transform: translateY(-100%);
    transition: all .3s;
    &:hover{
      background-color: $accent;
    }
  }
  .slick-prev{
    left: -68px;
  }
  .slick-next{
    right: -68px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      padding: 0 5px;
    }
    button{
      font-size: 0;
      border: none;
      background-color: #E8E8E8;
      border-radius: 50%;
      width: 10px;
      height: 11px;
      cursor: pointer;
      transition: all .3s ease-in-out;
    }
    .slick-active{
      button{
        width: 30px;
        background-color: $accent;
        border-radius: 10px;
      }
    }
  }
}
.numbers{
  padding: 70px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item-title{
    color: #000;
    @extend %aeroport-700;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 11px;
  }
  &__item-text{
    max-width: 242px;
  }
}
.courses{
  padding: 70px 0;
  &__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item{
    padding: 40px 40px 30px;
    background-color: $bg;
    border-radius: 32px;
  }
  &__item--white{
    border: 2px solid #F7F7F7;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  &__item--rocket{
    background-image: url('../images/bg/rocket.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 26%;
  }
  &__item--miner{
    background-image: url('../images/bg/mining.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 26%;
  }
  &__item--shield{
    background-image: url('../images/bg/shield.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 26%;
  }
  &__item-span{
    background-color: $accent;
    line-height: 16px;
    font-size: 16px;
    color: #000;
    padding: 4px 14px 6px;
    margin-bottom: 10px;
    display: inline-block;
  }
  &__item-title{
    color: #000;
    @extend %aeroport-700;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 12px;
    max-width: 360px;
  }
  &__item-text{
    max-width: 310px;
    margin-bottom: 43px;
  }
  &__item-link{
    color: #000;
    @extend %aeroport-500;
    position: relative;
    padding-right: 30px;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-next.svg');
      background-repeat: no-repeat;
      width: 17px;
      height: 16px;
      right: 0px;
      top: 6px;
    }
  }
}
.education{
  padding: 70px 0;
  &__inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  &__num{
    color: $accent;
    font-size: 48px;
    line-height: 56px;
    @extend %aeroport-700;
    display: block;
    border-bottom: 1px solid #000;
    padding-bottom: 16px;
    margin-bottom: 34px;
  }
  &__title{
    color: #000;
    font-size: 28px;
    line-height: 32px;
    @extend %aeroport-500;
    margin-bottom: 12px;
  }
}
.education-video{
  background-image: url('../images/bg/video-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
  padding: 117px 0;
  margin-bottom: 40px;
  &__link{
    width: 65px;
    height: 65px;
    background-color: #fff;
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
  }
  &__img{
    position: absolute;
    top: 20px;
    left: 25px;
  }
}
.experts{
  padding: 70px 0;
  &__inner{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  &__item-img{
    border-radius: 24px;
    margin-bottom: 20px;
    object-fit: cover;
  }
  &__item-title{
    font-size: 24px;
    line-height: 28px;
    color: #000;
    @extend %aeroport-700;
    max-width: 100px;
    margin-bottom: 12px;
  }
  &__item-text{
    font-size: 16px;
    max-width: 253px;
  }
  &__link{
    position: absolute;
    right: -24px;
    top: 166px;
    width: 48px;
    height: 48px;
    background-color: $accent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    &:hover{
      background-color: #fff;
    }
  }
}
.review{
  padding: 70px 0;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__btn-box{
    text-align: center;
  }
  &__btn{
    @extend %btn-m-black;
  }
  &__inner{
    margin-bottom: 50px;
    display: flex;
    gap: 30px;
  }
  &__item{
    background-color: $bg;
    border-radius: 24px;
    padding: 22px 24px;
    width: 370px;
    margin-bottom: 30px;
  }
  &__video-box{
    background-image: url('../images/bg/review-video.jpg');
    min-height: 100%;
    background-repeat: no-repeat;
    padding: 186px 0;
  }
  &__video-link{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    position: relative;
  }
  &__video-play{
    position: absolute;
    top: 12px;
    left: 16px;
  }
  &__item--add{
    display: none;
  }
  &__active{
    display: block;
  }
}
.review-info{
  display: flex;
  margin-bottom: 18px;
  &__img{
    margin-right: 13px;
  }
  &__name{
    color: #000;
    @extend %aeroport-500;
  }
  &__date{
    font-size: 16px;
  }
}
.students{
  padding: 70px 0;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    max-width: 700px;
    span{
      color: $default;
    }
  }
  &__inner{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  &__item{
    border-radius: 24px;
    background-color: $bg;
    padding-bottom: 55px;
  }
  &__item-img{
    margin-bottom: 16px;
  }
  &__item-box{
    padding: 0 30px 0;
    max-width: 370px;
    box-sizing: border-box
  }
  &__item-title{
    @extend %aeroport-700;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    margin-bottom: 12px;
  }
}
.publications {
  padding: 70px 0;
  &__title {
    margin-bottom: 26px;
  }
  &__filter {
    margin-bottom: 38px;
  }
  &__filter-btn {
    background-color: transparent;
    padding: 9px 24px;
    border: 1px solid #000;
    border-radius: 20px;
    color: #000;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
  }
  .mixitup-control-active {
    background-color: $accent;
    border: none;
  }
  &__items {
    display: grid;
    grid-template-rows: repeat(2, 372px);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-template-areas: 
      "big big small-1"
      "small-2 small-3 small-4"
      "small-5 big-2 big-2";
    margin-bottom: 48px;
  }
  &__item {
    border-radius: 24px;
    background-color: $bg;
    max-width: 370px;
    position: relative;
  }
  &__item--big {
    display: flex;
    justify-content: space-between;
    max-width: 770px;
    grid-area: big;
  }
  &__item--bigadd{
    grid-area: big-2;
  }
  &__item-box {
    padding: 15px 30px;
  }
  &__item-box--big {
    padding: 30px 60px 30px 30px;
  }
  &__item-title{
    font-size: 24px;
    line-height: 30px;
    color: #000;
    @extend %aeroport-700;
    margin-bottom: 12px;
  }
  &__item-info{
    position: absolute;
    bottom: 30px;
    font-size: 14px;
    line-height: 19px;
  }
  &__btn-box{
    text-align: center;
  }
  &__btn{
    @extend %btn-m-black;
  }
  &__item--add{
    display: none;
  }
  &__active--small{
    display: block;
  }
  &__active--big{
    display: flex;
  }
}
.form{
  padding: 70px 0 190px;
  &__inner{
    padding: 64px 76px;
    background-color: $accent;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
  }
  &__content{
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  &__content-title{
    font-size: 36px;
    line-height: 40px;
    color: #000;
    @extend %aeroport-700;
    margin-bottom: 17px;
    max-width: 290px;
  }
  &__content-text{
    font-size: 22px;
    line-height: 28px;
    color: #000;
  }
  &__form{
    width: 425px;
  }
  &__form-input{
    width: 100%;
    margin-bottom: 18px;
    border-radius: 15px;
    border: 1px solid transparent;
    padding: 19px 21px;
    outline: none;
    &::placeholder{
      font-size: 16px;
      line-height: 18px;
    }
    &:focus{
      border: 1px solid #000;
    }
  }
  &__form-inputbox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    input + input{
      margin-left: 26px;
    }
  }
  &__form-box{
    display: flex;
    justify-content: space-between;   
  }
  &__form-text{
    font-size: 14px;
    line-height: 16px;
    color: #000;
    max-width: 170px;

  }
  &__form-link{
    border-bottom: 1px solid #000;
    transition: all .2s;
    &:hover{
      border-bottom: 1px solid transparent;
    }
  }
  &__form-btn{
    @extend %btn-m-black;
    padding: 21px 39px;
  }
}
.start{
  padding-bottom: 70px;
  &__inner{
    padding: 93px 0 93px 95px;
    background-color: #131313;
    border-radius: 32px;
    color: #fff;
    background-image: url('../images/bg/secured.png');
    background-repeat: no-repeat;
    background-position: 92% 50%;
    background-size: 33%;
  }
  &__span{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    @extend %aeroport-700;
    margin-bottom: 8px;
  }
  &__title{
    font-size: 44px;
    line-height: 50px;
    @extend %aeroport-700;
    margin-bottom: 24px;
    max-width: 550px;
  }
  &__text{
    max-width: 523px;
    margin-bottom: 58px;
  }
  &__btn{
    @extend %btn-m;
  }
  &__link{
    margin-top: 40px;
    display: block;
    font-size: 16px;
    position: relative;
    @extend %aeroport-500;
    padding-left: 30px;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-down-white.svg');
      background-repeat: no-repeat;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
    }
  }
}
.start-content{
  padding: 70px 0;
  &__items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
  }
  &__item{
    max-width: 370px;
    & + .start-content__item{
      margin-left: 30px;
    }
  }
  &__item-title{
    font-size: 36px;
    line-height: 38px;
    @extend %aeroport-700;
    margin-bottom: 11px;
    color: #000;
  }
  &__item-text{
    max-width: 270px;
  }
  &__point-title{
    font-size: 36px;
    line-height: 38px;
    color: #000;
    @extend %aeroport-700;
    margin-bottom: 30px;
  }
  &__wrapper{
    text-align: center;
  }
  &__inner{
    background-image: url('../images/bg/arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 60% 50%;
    position: relative;
    min-height: 550px;
    margin-bottom: 30px;
  }
  &__point{
    padding: 24px 46px 23px 95px;
    background-color: $bg;
    border-radius: 32px;
    display: inline;
    position: absolute;
    color: #000;
    @extend %aeroport-500;
    width: 388px;
    text-align: left;
    &::before{
      content: '';
      width: 46px;
      height: 46px;
      background-color: $accent;
      border-radius: 50%;
      position: absolute;
      left: 30px;
      top: 23px;
    }
  }
  &__point--1{
    top: 55px;
    left: 295px;
    transform: rotate(0.5deg);
  }
  &__point--2{
    top: 200px;
    left: 180px;
    transform: rotate(-3.5deg);
  }
  &__point--3{
    bottom: 200px;
    right: 50px;
    transform: rotate(1.5deg);
  }
  &__point--4{
    bottom: 40px;
    right: 230px;
    transform: rotate(5.5deg);
  }
  &__title{
    font-size: 36px;
    line-height: 38px;
    color: #000;
    @extend %aeroport-700;
    max-width: 680px;
    margin: 0 auto 30px;
    span{
      position: relative;
      &::after{
        content: '';
        background-image: url('../images/icons/line.svg');
        background-repeat: no-repeat;
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 467px;
        height: 10px;
      }
    }
  }
  &__text{
    font-size: 28px;
    line-height: 32px;
    color: #000;
    max-width: 490px;
    margin: 0 auto;
  }
}
.start-opportunities{
  padding: 70px 0;
  &__wrapper{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  &__title{
    margin-bottom: 68px;
  }
  &__item-img{
    margin-bottom: 20px;
  }
  &__item-title{
    color: #000;
    font-size: 36px;
    line-height: 38px;
    @extend %aeroport-700;
    margin-bottom: 11px;
    max-width: 320px;
  }
  &__item-title--square{
    max-width: 470px;
  }
  &__item-text{
    max-width: 345px;
  }
}
.cards{
  padding: 70px 0;
  &__wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item{
    background-color: $bg;
    border-radius: 24px;
    padding: 30px 43px 30px 30px;
    height: 308px;
    display: flex;
    flex-direction: column;
  }
  &__item-num{
    font-size: 22px;
    line-height: 30px;
    color: #000;
    @extend %aeroport-500;
    background-color: $accent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item-title{
    color: #000;
    font-size: 28px;
    line-height: 32px;
    @extend %aeroport-500;
    max-width: 297px;
    margin-top: auto;
  }
  &__item-title--text{
    margin-bottom: 12px;
  }
}
.start-price{
  padding: 70px 0;
  &__wrapper{
    display: flex;
    align-items: center;
  }
  &__left{
    padding: 55px 66px 55px 76px;
    background-color: #000;
    border-radius: 32px;
    background-image: url('../images/bg/star-2.png');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: -20% 265%;
    z-index: 1;
  }
  &__left-title{
    font-size: 36px;
    line-height: 40px;
    color: #fff;
    @extend %aeroport-700;
    margin-bottom: 24px;
    max-width: 447px;
  }
  &__left-text{
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    @extend %aeroport-500;
    margin-bottom: 64px;
  }
  &__left-btn{
    @extend %btn-m;
  }
  &__right{
    padding: 55px 145px 55px 85px;
    background-color: $bg;
    border-radius: 32px;
    background-image: url('../images/bg/arms.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 95% 50%;
    position: relative;
    left: -30px;
  }
  &__right-title{
    font-size: 36px;
    line-height: 40px;
    color: #000;
    @extend %aeroport-700;
    max-width: 360px;
    margin-bottom: 11px;
    span{
      color: $default;
    }
  }
  &__right-text{
    color: #000;
    max-width: 300px;
  }
}
.questions{
  padding: 70px 0;
  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title{
    text-align: center; 
    margin-bottom: 54px;  
  }
  &__item{
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent; 
    padding: 32px 0;
    max-width: 770px;
    width: 100%;
    @extend %aeroport-500;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
    position: relative;
    &:first-child{
      border-top: 1px solid #000;
    }
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/angle-down.svg');
      background-repeat: no-repeat;
      width: 18px;
      height: 11px;
      right: 3px;
      top: 40px;
    }
  }
  &__item--active{
    border-bottom: 1px solid transparent;
    &::after{
      content: '';
      background-image: url('../images/icons/angle-up.svg');   
    }
  }
  &__content{
    padding: 10px 0 26px;
    color: #000;
    display: none;
    max-width: 770px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #000;
  }
}
.investments{
  padding-bottom: 70px;
  &__container{
    max-width: 1360px;
  }
  &__inner {
    padding: 91px 0 93px 95px;
    background-image: url('../images/bg/star.png');
    background-repeat: no-repeat;
    background-position: 100% 270%;
    background-size: 50%;
    background-color: $accent;
    border-radius: 32px;
    color: #000;
  }
  &__img{
    height: 575px;
    position: absolute;
    right: 315px;
    top: 155px;
  }
  &__span {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    @extend %aeroport-700;
    margin-bottom: 8px;
  }
  &__title {
    font-size: 44px;
    line-height: 50px;
    @extend %aeroport-700;
    margin-bottom: 24px;
    max-width: 437px;
  }
  &__text {
    max-width: 504px;
    margin-bottom: 58px;
    font-size: 22px;
    line-height: 30px;
    span{
      @extend %aeroport-700;
    }
  }
  &__btn {
    @extend %btn-m-black;
  }
  &__link {
    margin-top: 40px;
    display: block;
    font-size: 16px;
    position: relative;
    @extend %aeroport-500;
    padding-left: 30px;
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-down.svg');
      background-repeat: no-repeat;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
    }
  }
}
.investments-box{
  padding: 70px 0;
  &__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 30px;
  }
  &__title{
    font-size: 36px;
    line-height: 38px;
    @extend %aeroport-700;
    margin-bottom: 11px;
    color: #000;
  }
  &__text{
    max-width: 268px;
  }
}
.invest-history{
  padding: 70px 0;
  background-image: url('../images/bg/ellipse.svg');
  background-repeat: no-repeat;
  background-position: 92% 38%;
  &__title{
    font-size: 36px;
    line-height: 38px;
    color: #000;
    @extend %aeroport-700;
    margin-bottom: 130px;
    max-width: 862px; 
  }
  &__wrapper{
     background-image: url('../images/bg/vector.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }
  &__inner{
    display: flex; 
    height: 750px;
    margin-bottom: 48px;
  }
  &__person{
    max-width: 340px;
  }
  &__person-title{
    font-size: 36px;
    line-height: 38px;
    color: #000;
    @extend %aeroport-700;
    margin-bottom: 11px;
    max-width: 340px;
  }
  &__person-text{
    max-width: 340px;
  }
  &__items{
    padding-top: 100px;
    position: relative;
    margin-top: 100px;
  }
  &__item{
    padding: 24px 46px 23px 95px;
    background-color: $bg;
    border-radius: 32px;
    display: inline;
    position: absolute;
    color: #000;
    @extend %aeroport-500;
    width: 388px;
    text-align: left;
    &::before{
      content: '';
      width: 46px;
      height: 46px;
      background-color: $accent;
      border-radius: 50%;
      position: absolute;
      left: 30px;
      top: 23px;
    }
    &::after{
      content: '';
      background-image: url('../images/icons/cross.svg');
      background-repeat: no-repeat;
      position: absolute;
      width: 19px;
      height: 19px; 
      top: 37px;
      left: 44px;
    }
  }
  &__item--1{
    top: 30px;
    left: 285px;
    transform: rotate(5deg);
  }
  &__item--2{
    top: 180px;
    left: 230px;
    transform: rotate(-2deg);
    p{
      max-width: 152px;
    }
  }
  &__item--3{
    bottom: 200px;
    left: 300px;
    transform: rotate(5.5deg);
  }
  &__result{
    font-size: 36px;
    line-height: 38px;
    color: #000;
    @extend %aeroport-700;
    margin: 0 auto 48px;
    max-width: 567px;
    text-align: center;
  }
}
.price-case{
  border-radius: 32px;
  background-color: $accent;
  padding: 57px;
  display: flex;
  justify-content: space-between;
  max-width: 1030px;
  margin: 0 auto;
  background-image: url('../images/bg/star.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 100% 62%;
  &__left{
    padding: 28px 94px 28px 40px;
    color: #000;
    border: 2px solid #000;
    border-radius: 24px;
    position: relative;
    &::after{
      content: '';
      background-image: url('../images/icons/arrow-long.svg');
      background-repeat: no-repeat;
      position: absolute;
      right: -92px;
      top: 54px;
      width: 33px;
      height: 20px;
    }
  }
  &__left-text{
    margin-bottom: 7px;
  }
  &__left-num{
    font-size: 36px;
    line-height: 38px;
    @extend %aeroport-700;
  }
  &__right{
    border-radius: 24px;
    padding: 28px 94px 28px 40px;
    color: #fff;
    background-color: #000;
  }
  &__right-text{
    margin-bottom: 7px;
  }
  &__right-num{
    font-size: 36px;
    line-height: 38px;
    @extend %aeroport-700;
    position: relative;
    &::after{
      content: '+1 357 %';
      background-color: #0FAD1F;
      border-radius: 85px;
      font-size: 18px;
      line-height: 30px;
      padding: 6px 16px;
      position: absolute;
      right: -120px;
      top: 5px;
    }
  }
}
.invest-opportunities {
  padding: 70px 0;
  &__wrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  &__title {
    margin-bottom: 68px;
  }
  &__item-img {
    margin-bottom: 20px;
  }
  &__item-title {
    color: #000;
    font-size: 36px;
    line-height: 38px;
    @extend %aeroport-700;
    margin-bottom: 11px;
    max-width: 362px;
  }
  &__item-text {
    max-width: 345px;
  }
  &__item-title--square {
    max-width: 360px;
  }
}
.bonuses{
  padding: 70px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__box{
    margin-right: 230px;
    max-width: 370px;
  }
  &__box-title{
    color: #000;
    font-size: 48px;
    line-height: 52px;
    @extend %aeroport-700;
    margin-bottom: 24px;
    max-width: 360px;
  }
  &__box-text{
    max-width: 256px;
  }
  &__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 35px;
  }
  &__content-title{
    color: #000;
    @extend %aeroport-500;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 12px;
    max-width: 257px;
    position: relative;
  }
  &__content-title--1{
    max-width: 195px;
  }
  &__content-text{
    max-width: 250px;
  }
  &__content-span::after{
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    height: 8px;
    left: 0;
    right: 0;
    bottom: -7px;
  }
  &__content-span--1::after{
    background-image: url('../images/lines/1.svg');    
  }
  &__content-span--2::after{
    background-image: url('../images/lines/2.svg');    
  }
  &__content-span--3::after{
    background-image: url('../images/lines/3.svg');    
  }
  &__content-span--4::after{
    background-image: url('../images/lines/4.svg');    
  }
  &__content-span--5::after{
    background-image: url('../images/lines/5.svg');    
    bottom: 26px;
  }
  &__content-span--6::after{
    background-image: url('../images/lines/6.svg');    
  }
}
.invest-program{
  padding: 70px 0;
  &__wrapper{
    border: 1px solid #000;
    border-radius: 32px;
    padding: 54px 76px 100px;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    color: #000;
    margin-bottom: 48px;
  }
  &__top-title{
    margin-bottom: 0;
    max-width: 285px;
  }
  &__top-num{
    @extend %aeroport-500;
    margin-bottom: 12px;
    span{
      padding: 4px 16px;
      background-color: $accent;
      border-radius: 65px;
      margin-right: 10px;
    }
  }
  &__top-text{
    max-width: 424px;
  }
  &__content{
    padding: 0 30px 64px;
    color: #000;
    border-bottom: 1px solid #000;
    display: none;
  }
  &__content-item{
    position: relative;
    & + .invest-program__content-item{
    margin-top: 8px;
    }
    &::before{
      content: '';
      background-color: $accent;
      width: 6px;
      height: 6px;
      position: absolute;
      left: -19px;
      top: 9px;
      border-radius: 50%;
    }
  }
  &__item{
    padding: 22px 0 25px;
    width: 100%;
    border-bottom: 1px solid #000;
    cursor: pointer;
    position: relative;
    &:first-child{
      border-top: 1px solid #000;
    }
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icons/plus.svg');
      background-position: center center;
      background-repeat: no-repeat;
      width: 15px;
      height: 15px;
      right: 0;
      top: 30px;
      padding: 17px;
      border-radius: 50%;
      border: 1px solid #000;
    }
  }
  &__item--active{
    border-bottom: 1px solid transparent;
    &::after{
      background-image: url('../images/icons/cross-2.svg');
    }
  }
  &__item-span{
    font-size: 16px;
    line-height: 23px;
  }
  &__item-title{
    font-size: 22px;
    line-height: 30px;
    @extend %aeroport-500;
    color: #000;
  }
}
.earned{
  padding: 70px 0;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img{
    margin-right: 85px;
  }
  &__content-title{
    color: #000;
    @extend %aeroport-700;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 11px;
    max-width: 319px;
  }
  &__content-text{
    max-width: 319px;
  }
}
.invest-propos{
  padding: 70px 0;
  &__container{
    max-width: 1030px;
  }
  &__title{
    color: #000;
    font-size: 36px;
    line-height: 38px;
    @extend %aeroport-700;
    max-width: 677px;
    margin: 0 auto 57px;
  }
  &__inner{
    background-color: $accent;
    border-radius: 32px;
    padding: 50px 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../images/bg/star.png');
    background-position: 110% 71%;
    background-repeat: no-repeat;
    background-size: 50%;
    margin: 0 auto;
  }
  &__box{
    color: #000;
  }
  &__box-title{
    font-size: 36px;
    line-height: 40px;
    @extend %aeroport-700;
    max-width: 358px;
    margin-bottom: 24px;
  }
  &__box-span{
    font-size: 22px;
    line-height: 28px;
    @extend %aeroport-500;
    margin-bottom: 32px;
    display: block;
  }
  &__box-text{
    padding-left: 47px;
    position: relative;
    max-width: 435px;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/security.svg');
      background-repeat: no-repeat;
      width: 31px;
      height: 38px;
      left: 0;
      top: 5px;
    }
  }
  &__link{
    @extend %btn-m-black;
    padding: 21px 39px;
  }
}
.others{
  padding: 70px 0 190px;
  &__wrapper{
    display: grid;
    grid-gap: 30px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}








@import 'media';